<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>セルフ問題集</title>
        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NPBNB7QHHH"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-NPBNB7QHHH');
    </script>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="IMG_B2167CDF018D-1-removebg-preview.ico">
  </head>
  <body>
    <div id="app">
      <div v-if="!completed">
        <h3 class="title">第{{ questionIndex+1 }}問</h3>
        <div class="d-grid gap-2">
          <p>{{ currentQuestion.question}}</p>
          <button type="button" class="btn btn-outline-info btn-lg" autofocus v-for="(answer,index) in currentQuestion.answers"
            @click="addAnswer(index)"> {{ answer }} </button>
        </div>
      </div>
      <!-- 結果 -->
      <div v-if="completed">
        <h3 class="title">結果</h3>
        <p>{{questions.length}}問中{{correctCount}}問正解</p>
        <a v-bind:href="url+questions.length+'問中'+correctCount+'問正解しました。%0a'+'%23ruby%0a%23ruby問題%0a'+link" target="_blank" rel="noopener" >
          Twitterへ投稿
        </a>
        <div v-for="(question,index) in this.questions">
          <div class="card border-dark mb-5 mx-auto">
            <p class="card-header">第{{ index+1 }}問</p>
            <div class="card-text">
              <span v-if="self_answer_index=answers[index], question.answer == answers[index]" class="v-if">
                <p>○正解</p>
              </span>
              <span v-else>
                <p class="uncollect">×不正解</p>
                <p>問題：{{question.question}}</p>
                <p>あなたは<span class="choice_answer">「{{question.answers[self_answer_index] }}」</span>を選びました。</p>
                <p>正解は</p>
                <p class="collect_answer">{{ question.answers[question.answer] }}</p>
                <p>でした</p>
                <div v-if="question.description" class="description">
                  <span>< 解説 ></span>
                  <p>{{ question.description}}</p>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="script.js"></script>
  </body>
</html>